/** @format */
body {
  font-family: sans-serif;
  font-weight: 100;
  line-height: 1.5em;
}

/* Content should be centered, both vertically and horizontally in the container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  text-align: center;
}

/* Align previous + card + next */
.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 16px;
  transform-style: preserve-3d;
}

#previous,
#next {
  z-index: 800;
}

.card {
  background: #c4c4c4;
  width: 600px;
  height: 300px;
  padding: 50px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

/* Circle with centered text */
#station-abbreviation {
  background: #838383;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #ffffff;
}

#station-info {
  display: flex;
  flex-direction: column;
  color: #7a7a7a;
  text-align: left;
}

/* Scrollable list with width set to computed card width */
#stations-list {
  display: flex;
  width: 650px;
  overflow: auto;
}

.station-button {
  background-color: #c4c4c4;
  border: 2px solid #c4c4c4;
  border-radius: 4px;
  padding: 8px 16px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px;
}

.station-button.selected {
  border: 2px solid#53C1FF;
  font-weight: bold;
}

.station-button:hover {
  background-color: #838383;
  cursor: pointer;
}

.footer {
  margin-top: 24px;
}
